/*
	CSS Syntax
		selector{
			propertyA:  valueA;
			propertyB:  valueB;
		}
*/

/*
	* - universal selector; it selects all elements in the webpage

	font-family:  "Courier New", monospace;
		it tells the browser to use Courier New as its main font for the content
		if browser is not able to display the font, it will serach its fonts that belongs to the family of monospace

	font-size - sets the size of the font of the element. pixels are not the sole measurement of font-size

*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*
	html selector - selects all the elements inside the html tags

	background-color - changes the background color of the element
*/

html{
	scroll-behavior: smooth;
}

body{
	background-color: skyblue;
}

nav{
	background-color: white;
}

/*
	selector: hover - changes the syle of the element once the mouse is hovered over it.
*/

a:hover{
	background-color: #b4d6de;
}

/*
	> - child selector; allows selection of the child of the first selector/element
*/
nav	> div{
	/*
		display:  inline-block; - it allows changing the display of the element from block to inline-block
			inline-block - the element act as a block element but is inline with ots sibling elements
		float - changes the horizontal alignment of the element and puts it on the specified positiion/side.
			in this case the element is floated to the right side of the div container
	*/
	display:  inline-block;
	float: right;
}

/*
body > section > form > label{
	color: red;
}
*/

/*TAG SELECTORS*/

h1{
	/*
		!important - overrides/disregards the ranking of priority and makes the property the main priority.
		rem - root element measurement. html tag is the root element. default measurement for rem is 16px.
	*/
	color:  black;
	/* 
		2rem=@*16px
	 */
	font-size: 2rem;
	text-align: center;
}

section{
	/*
		height - changes the height of the element.
			vh - viewport height; the height of the user's screen
				100vh = 100% of the biewpoint of the user's device
	*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size:  1.5rem;
}

ol{
	/*list-style-type - changes the style of the list element*/
	list-style-type: none;
}

/*
	ID SELECTORS
		#idName{
			property:  value;
		}
*/

#zuitt-motto{
	/*letter-spacing - changes the space between the letters of the text element*/
	letter-spacing: 5px;
	font-size: 30px;
}

/*
	class selector - selects elements with the same class name

		.className {
			property:  value;
		}
*/

.offered-items{
	/*text-transform - changes the style of the text element*/
	text-transform:  uppercase;
}

/*
	attribute selector - selects element with the same attribute
	tag[attribute]{
		property:  value;
	}
*/

input[required]{
	/*
		border width - changes the width of the element's border
		border style - changes the style of the element's border
		border color - changes the color of the element's border
	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*
	adjacent siblijng selector - selects the subling element directly after the first element
*/

h3 + #image{
	/*
		height and width - change the height and width of the element
		border radius - rounds the corner of the element
	*/
	height:  300px;
	width:  300px;
	border-radius: 150px;
}

/*
	descendant selector
		firstselector descendant{
			property:  value;
		}
*/

section li{
	color:  #075966;
}

/*
	general sibling selector - selects the sibling element that comes after the first selector
	firstSelector ~ secondSelector
*/

h2 ~a{
/*
	text-decoration -changes the decoration of the text element. other examples are overline, underline, line-through
*/
	text-decoration: none;
}

form{
	color: rgb(0, 0, 128);
	text-align: center;
	background-color: white;
	/*
		border - can be used to modify the border of the element
			border:  width style color;
	*/
	border:  2px solid black;
	/*vw - measurement of the screen width of the user device. the default display is always on the left side of the screen*/
	width:  25vw;
	/*
		position - allows the changing of position of an element
			relative - moving the elements relative to its position
	*/
	position: relative;
	left:  37.25%;
}

button {
	color: white;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;
}
