/*s6 Activity*/

*{
font-family: "Arial", monospace;
font-size: 15px; 
}

#external{
	color: yellow;
}

h1{
	font-size: 2.5rem;
}

#learnings{
	text-transform: uppercase;
}

#languageName{
	background-color: lightgreen;
}

h2 + #image{
	height: 90px;
	width: 90px;
	border-radius: 150px;
}

#other{
	letter-spacing: 6px;
}

#other{
	list-style-type: none;
}

#toolsName{
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

ol ~p{
	text-align: center;
}